
:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

/* This section is for custom color styling*/


/* Background color for the body */

html {
	background: var(--MainBg);
}

/* Internal links colors */

.internal-links {
	background-color: var(--MobileNav);
	color: var(--HeaderText);
}

.internal-links a {
	background-color: var(--MobileNavBtn);
}

.internal-links a:hover {
	background-color: var(--NavBtnHover);
}

.internal-links a.active {
	background-color: var(--NavBtnHover);
}

/* Header color */

header {
	background: var(--HeaderBg);
}


/* Background color for headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--HeadingstxtCl);
	line-height: 1.2;
	overflow: visible; 
	white-space: normal;
}

/* Background color for hyperlinks*/

a {
	color: var(--HyperlinkCl);
}
a:hover {
	color: var(--HyperlinkClHover);
}
.no-style-link {
    
	color: inherit; 
}

/* Background color for paragraphs */

p {
	margin-bottom: 1em;
	color: var(--BodytextCl);
}

/* Background color for Lists */

ul {
	color: var(--ListCl);
}

/* Background color for paragraphs */

figcaption {
	margin-top: 0px;
  font-size: 14px;
  color: transparent; /* hidden by default */
}

/* Background color for blockquotes */



code {
	padding: 2px 5px;
	background-color: var(--CodeBlockBg);
	border-radius: 2px;
}

/* Background color section end */

/* */
/* */
/* */ /* Flex Boxes */
/* */
/* */

.box {
	background-color: transparent;
	border-radius: 1em;
	box-shadow: 0 2px 8px rgba(var(--black), 100%);
	width: 90%;
	max-width: calc(100% - 6em);
	margin: 2em 0em;
	padding: 2em 2em;
}

.colorbox {
	
	background-color: var(--HeaderBg);
	border-radius: 1em;
	box-shadow: var(--box-shadow);
	width: 90%;
	max-width: calc(100% - 6em);
	margin: 2em 0em;
	padding: 2em 2em;

}

.leftbox {
	display: flex;
	justify-content: left; /* Center horizontally */
	align-items: left; /* Center vertically */
	text-align: left; /* Center-align the text itself */
	flex-direction: column;
}

.rowbox {
	display: flex;
	justify-content: space-between; /* Center horizontally */
	align-items: center; /* Center vertically */
	text-align: center; /* Center-align the text itself */
	flex-direction: row;
}

.centerbox {
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	text-align: center; /* Center-align the text itself */
	flex-direction: column;
}  

/* */
/* */
/* */ /* Flex Boxes END */
/* */
/* */

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(darkgrey);
	font-size: 20px;
	line-height: 1.7;
}
main {
	width: 90%;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 2em 1em;
}

h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
}

.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	pointer-events: none;

}

pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	h1 {
        font-size: 2.441em;
        margin: 0; 
	}
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
	.centerbox {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        text-align: center; /* Center-align the text itself */
		flex-direction: column;
	}
	figcaption {

		font-size: 12px;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}


/* Appended Theme Variables */
:root {
  --HeaderBg: #2C2F33;
  --MainBg: #1E2124;
  --HeaderText: #FFFFFF;
  --MobileNav: #2C2F33;
  --MobileNavBtn: transparent;
  --NavBtnHover: #7289DA;
  --HeadingstxtCl: #FFFFFF;
  --BodytextCl: #99AAB5;
  --ListCl: lightgrey;
  --HyperlinkCl: #7289DA;
  --HyperlinkClHover: #5865F2;
  --CodeBlockBg: #2C2F33;
}
